* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header__location{
    width: 100%;
    background-color: #F8F8F8;
    
}
.header__location-content {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location__link--first{
    margin-right: 50px;
}
.location__link{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 14px;
    transition: 0.4s;
    margin-left: 10px;
    
}
.location__link:hover{
    transition: 0.4s;
    text-decoration: underline;
    font-size: 16px;
}
.location__link--after::after{
content: url("assets/arrow.png");
position: relative;
top: -3px;
left: 10px;
}
.location__link--tel{
    opacity: 0.5;
}
.header-search {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.search__contaienr {
    width: 30%;
    display: flex;
    height: 40px;
}

.search__line {
    padding-left: 5px;
    height: 40px;
    width: 85%;
    outline: none;
    border-radius: 1px;
    border: 2px solid rgb(0, 0, 0, 0.1);
}

.search__btn {

    cursor: pointer;
    width: 15%;
    border: 1px solid #E0001B;
    background-color: #E0001B;
}
.header__nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.header__nav div{
    padding: 10px 0px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.header__nav div:hover{
    background-color: #E5E5E5;
    color: 1D1D1B;
    border-radius: 3px;
    cursor: pointer;
}
.saved__counter{
    background-color: #E0001B;
    border-radius: 50%;
    padding:2px 4px;
    color: white;
    font-size: 14px;
}
.basket__counter{
    background-color: #E0001B;
    border-radius: 50%;
    padding:2px 4px;
    color: white;
    font-size: 14px; 
}
.header-categories {
    margin-top: 20px;
}
.ctegories__menu{
    display: flex;
    justify-content: space-between;
}
.category{
    list-style: none;
    background-color: #F8F8F8;
    width: 100%;
    border: 1px solid rgb(229, 229, 229,0.2);
    cursor: pointer;
    text-align: center;
    padding: 15px 0px;
}
.category__link{
    text-decoration: none;
    color:inherit;
    font-size: 18px;
}
.category:nth-child(1)::before{
    content: url("assets/category/1.png");
    position: relative;
    right: 8px;
}
.category:nth-child(2)::before{
    content: url("assets/category/2.png");
    position: relative;
    right: 8px;
}
.category:nth-child(3)::before{
    content: url("assets/category/3.png");
    position: relative;
    right: 8px;
}
.category:nth-child(4)::before{
    content: url("assets/category/4.png");
    position: relative;
    right: 8px;
}
.category:nth-child(5)::before{
    content: url("assets/category/5.png");
    position: relative;
    right: 8px;
}
.category:nth-child(6)::before{
    content: url("assets/category/6.png");
    position: relative;
    right: 8px;
}
.category--first{
    width: 50%;
    background-color: #E0001B;
    color: white;
    font-size: 20px;
}
.category:last-child{
    color: #E0001B;
}